<html>
  <head>
    <title>Temperature Matrix by jQuery</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <div id="wrap">
      <h1>Temperature Matrix by jQuery</h1>
      <form>
        <label for="minTemp">Min: </label>
        <input id="minTemp" class="numInput" type="number" value="20" />
        <label for="maxTemp">Max: </label>
        <input id="maxTemp" class="numInput" type="number" value="40" />
      </form>
      <div class="container">
      	<% for(var i=0; i<16; i++) { %>
	        <div id='box<%= i %>' class="box"></div>
	    <% } %>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../javascripts/box.js"></script>
    <script src="../javascripts/utility.js"></script>
  </body>
</html>
