<html>
  <head>
    <title>Temperature Matrix by D3.js></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <div id="wrap">
      <h1>Temperature Matrix by D3.js</h1>
      <form>
        <label for="minTemp">Min: </label>
        <input id="minTemp" class="numInput" type="number" value="20" />
        <label for="maxTemp">Max: </label>
        <input id="maxTemp" class="numInput" type="number" value="40" />
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../javascripts/circle.js"></script>
    <script src="../javascripts/utility.js"></script>
  </body>
</html>