extends ./layout.jade

block content
	#wrap
		h1= title
		.container
		form
			label(for="minTemp") Min: 
			input#minTemp.numInput(type="number", value="20")
			label(for="maxTemp") Max: 
			input#maxTemp.numInput(type="number" value="40")
	script(src="/socket.io/socket.io.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="http://d3js.org/d3.v3.min.js")
	script(src="../javascripts/circle.js")
	script(src="../javascripts/utility.js")