<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <div id="wrap">
		<h1><%= title %></h1>
		<ul>
		    <li><a href='./box'>Box</a></li>
		    <li><a href='./circle'>Circle</a></li>
		</ul>
    </div>
  </body>
</html>