extends ./layout.jade

block content
	#wrap
		h1= title
		h2 Reference
		ul
			li: a(href='http://www.omron.co.jp/ecb/products/sensor/11/d6t.html') Official Website
			li: a(href='http://www.omron.co.jp/ecb/products/sensor/special/mems/pdf/AN-D6T-01JP_r2.pdf') Application Note (pdf)
		h2 Example
		ul
			li: a(href='./box') Box
			li: a(href='./circle') Circle