box_width = 150px;
box_height = 150px;
box_margin = 2px;
box_count = 4;

container_width = (box_width + box_margin * 2) * box_count;
container_height = (box_height + box_margin * 2) * box_count;

numInput_width = 50px;

.box{
	width: box_width;
	height: box_height;
	margin: box_margin;

	float: left;
	background-color:black;
}

.container{
	width: container_width;
	height: container_height;
	margin: 0 auto 12px;
}

#wrap{
	width: container_width;
	margin: 0 auto;
}

.numInput{
	width: numInput_width;
}

h1{
	margin: 20px 0;
	border-bottom: 4px solid;
}

h2{
	margin: 8px 0;
}

