.box {
  width: 150px;
  height: 150px;
  margin: 2px;
  float: left;
  background-color: #000;
}
.container {
  width: 616px;
  height: 616px;
  margin: 0 auto 12px;
}
#wrap {
  width: 616px;
  margin: 0 auto;
}
.numInput {
  width: 50px;
}
h1 {
  margin: 20px 0;
  border-bottom: 4px solid;
}
